.main-login {
    text-align:center;
    min-height: 400px;
    min-width: 300px;
    
    padding-bottom: 20px;
    margin-bottom: 0px;
}

.main-login-content {
    text-align:center;
    width:80%;
    max-width:650px;
    min-width:300px;
    margin-left:auto;
    margin-right:auto;
}

.login-title-padding {
    padding-top: 50px;
    padding-bottom: 40px;
}

.register-title-padding {
    padding-top: 40px;
    padding-bottom: 20px;
}

.mat-tab-group {
    width: 100%;
}

.mat-form-field {
    width: 60%;
    min-width: 250px;
    max-width: 400px;
}

.mat-card-actions {
    width: 50%;
    margin-left:auto;
    margin-right:auto;
}

.login-button {
    margin-top: 10px;
    margin-bottom: 10px;
}

.register-button {
    margin-top: 10px;
    margin-bottom: 10px;
}