<mat-toolbar color="primary">
  {{ app_title }}
</mat-toolbar>
<mat-card class='main-login mat-typography'>
  <div class='container' style="max-width:650px">
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Login">
        <mat-card-content>
            <mat-card-title class="login-title-padding">Please login to continue</mat-card-title>
              <div>
                <mat-form-field  appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput  autocomplete="username" required>
                  <mat-error *ngIf="isFieldInvalid('userName')">
                    Please enter your user name
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field  appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide_login_password? 'password' : 'text'"  autocomplete="current-password" required>
                  <mat-icon matSuffix (click)="hide_login_password = !hide_login_password">{{hide_login_password ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="isFieldInvalid('password')">
                    Please enter your password
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-card-actions>
                  <button mat-stroked-button
                    matTooltip="For Demo purposes"
                    color="primary"
                    [style.margin-bottom.px]="10"
                    (click)='skipLogin()'
                    >
                    Skip
                  </button>
                  <button mat-raised-button 
                    color="primary"
                    class="login-button"
                    (click)='attemptLogin()'
                    >
                    Login
                  </button>
                </mat-card-actions>
              </div>
          </mat-card-content>  
        </mat-tab>
        <mat-tab label="Register">
          <mat-card-content>
            <mat-card-title class="register-title-padding">New Account</mat-card-title>
                <div>
                  <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                    <input matInput autocomplete="email"required>
                    <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput autocomplete="username" required>
                    <mat-error *ngIf="isFieldInvalid('userName')">
                      Please enter your user name
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide_register_password? 'password' : 'text'"  autocomplete="new-password" required>
                    <mat-icon matSuffix (click)="hide_register_password = !hide_register_password">{{hide_register_password ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-error *ngIf="isFieldInvalid('password')">
                      Please enter your password
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password"  autocomplete="off" required>
                    <mat-error *ngIf="isFieldInvalid('confirmPassword')">
                      Please confirm your password
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <button mat-raised-button 
                    color="primary"
                    class="register-button"
                    (click)='attemptRegister()'>
                    Register
                  </button>
                </div>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </div>
</mat-card>