<mat-toolbar color="primary">
  SmartHouse
</mat-toolbar>
<mat-card class='main-login'>
  <div class='main-login-content'>
    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="Login">
        <mat-card-content>
            <mat-card-title class="login-title-padding">Please login to continue</mat-card-title>
            <form (ngSubmit)="onSubmit()">
              <div>
                <mat-form-field  appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="userName" required>
                  <mat-error *ngIf="isFieldInvalid('userName')">
                    Please enter your user name
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field  appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide_login_password? 'password' : 'text'" formControlName="password" required>
                  <mat-icon matSuffix (click)="hide_login_password = !hide_login_password">{{hide_login_password ? 'visibility' : 'visibility_off'}}</mat-icon>
                  <mat-error *ngIf="isFieldInvalid('password')">
                    Please enter your password
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-card-actions>
                  <button mat-stroked-button
                    matTooltip="For Demo purposes"
                    color="accent"
                    (click)='skipLogin()'
                    >
                    Skip
                  </button>
                  <button mat-raised-button 
                    color="primary"
                    class="login-button"
                    (click)='attemptLogin()'
                    >
                    Login
                  </button>
                </mat-card-actions>
              </div>
            </form>
          </mat-card-content>  
        </mat-tab>
        <mat-tab label="Register">
          <mat-card-content>
            <mat-card-title class="register-title-padding">New Account</mat-card-title>
              <form (ngSubmit)="onSubmit()">
                <div>
                  <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                    <input matInput [attr.formControl]="email" formControlName="email" required>
                    <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="userName" required>
                    <mat-error *ngIf="isFieldInvalid('userName')">
                      Please enter your user name
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide_register_password? 'password' : 'text'" formControlName="password" required>
                    <mat-icon matSuffix (click)="hide_register_password = !hide_register_password">{{hide_register_password ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <mat-hint>The password must contain at least one number and one uppercase letter.</mat-hint>
                    <mat-error *ngIf="isFieldInvalid('password')">
                      Please enter your password
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" formControlName="confirmPassword" required>
                    <mat-error *ngIf="isFieldInvalid('confirmPassword')">
                      Please confirm your password
                    </mat-error>
                  </mat-form-field>
                </div>
                <div>
                  <button mat-raised-button 
                    color="primary"
                    class="register-button"
                    (click)='attemptRegister()'>
                    Register
                  </button>
                </div>
              </form>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>
    </div>
</mat-card>