.l-pad-35 {
    padding-left:35px;
}

.t-center {
    text-align:center;
}

.form-divider {
    height:15px;
}

.username-card {
    padding-top: 50px;
    padding-bottom: 35px;
}

.password-card {
    padding-bottom: 35px;
}

.mat-card-header {
    width:fit-content;
    min-width:500px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:35px;
}

.account-header-image {
    background-size:cover;
}

.section-title {
    width:80%;
    max-width:500px;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
}

.mat-form-field {
    height:50px;
    width:80%;
    max-width:500px;
}

.actions-card {
    text-align:center;
    padding-bottom:35px;
    margin-bottom: 0px;
}

.mat-button {
    height:50px;
    width:40%;
    max-width:250px;
}
