.device-mat-card {
    text-align:center;
    width:90%;
    height:90%; 
    padding: 16px 16px 16px 16px; 
    margin-left: auto; 
    margin-right:auto; 
    margin-top:0px; 
    margin-bottom: 0px;
    /* background-color:#E1F5FE; */
}

.mat-card-title {
    font-weight: 550;
    font-size: 1.2em;
    margin: 0px 0px 0px 0px;
}

.more-button {
    position: absolute;
    top: 8px;
    right: 8px;
    color: black;
}
  
.fs-medium {
    font-size: 1.1em;
}