<ng-container [ngSwitch]='device.Type' >
  <mat-card class="device-mat-card">
    <mat-card-header>
        <mat-card-title [style.color]="getTitleColor()">
          {{ device.Name }}
        </mat-card-title>
      </mat-card-header>
    <device-temp-sensor *ngSwitchCase="deviceType.TempSensor"></device-temp-sensor>
    <device-speakers *ngSwitchCase="deviceType.Audio"></device-speakers>
    <tv-card *ngSwitchCase="deviceType.Video"></tv-card>
    <div *ngSwitchDefault>
      asd
    </div>
  </mat-card>
</ng-container>
