<mat-sidenav-container class="sidenav-container mat-typography">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isExtraSmallScreen$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isExtraSmallScreen$ | async) ? 'push' : 'side'"
    [opened]="!(isExtraSmallScreen$ | async)">
    <mat-toolbar color="primary">
       <img id="app_icon" src="./assets/icon_white.png" style="height:50%;margin-right:8px">
       {{ app_title }}
    </mat-toolbar>
    <mat-nav-list>
      
      <a  mat-list-item *ngFor='let route of route_titles' [routerLink]='route' routerLinkActive='active'>
        <mat-icon class="menu-icon" [attr.aria-label]='route_data_dict[route][0]'>{{ route_data_dict[route][1] }}</mat-icon>
        <span>{{ route_data_dict[route][0] }}</span>      
      </a>

      <a  mat-list-item (click)="logOut()">
        <mat-icon class="menu-icon" aria-label="Logout" >exit_to_app</mat-icon>
        <span>Logout</span>      
      </a>

      <!-- <a mat-list-item>
        <div class="justify-content-center" style="height:100%;width:100%;"
        >
          <div class="container" style="height:100%; width:fit-content">
            <img id="app_icon" src="./assets/icon_white.png" style="height:100%;">
          </div>
        </div>
      </a> -->
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="height:100vh">
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isExtraSmallScreen$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span> {{ nav_title }}</span>
      <span class="spacer"></span>
      <mat-menu  
        #menu="matMenu"
        xPosition="before"
      >
        <ng-container *ngFor="let notif_info of notif_list">
          <button mat-menu-item (click)="openSnackBar('Clicked: ' + notif_info[1])">
            <mat-icon>{{ notif_info[0] }}</mat-icon>
            <span>{{ notif_info[1] }}</span>
            <!-- https://github.com/angular/material2/issues/11365 -->
          </button>
        </ng-container>
      </mat-menu>
      <button
        class="notif-button"
        type="button"
        aria-label="Open menu"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        [matMenuTriggerData]="{label: 'one'}"
      >
        <mat-icon aria-label="Notifications button icon" matBadge="2" matBadgeColor="warn" [matBadgeHidden]="notif_badge_hidden">notifications</mat-icon>
      </button>
    </mat-toolbar>
    <div style="height:100%">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
