<div class="d-flex align-items-center flex-column">
  <mat-form-field>
    <mat-select placeholder="Remove Category" [(value)]="selected_category">
      <mat-option *ngFor="let category of categories" [value]="category.name">
        {{category.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div style="text-align:center">
  <mat-card-actions>
      <button mat-button color="warn" (click)="close()">Cancel</button>
      <button mat-button color="primary" (click)="save()"> Confirm </button>
  </mat-card-actions>
</div>