<div class="grid-container" style="width:auto">
  <mat-grid-list [cols]="(isSmallScreen$ | async) ? 1 : 2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards" colspan="1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div> {{card.content}} </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="dashboard-card">
        <mat-card-header>
            <mat-card-title> 
              Add device 
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <button 
            mat-icon-button
            aria-label="Add category"
            style="margin-top:50px;width:100px; height: 100px;line-height: 100px;"
          >
            <mat-icon style="margin-left:-75px;font-size:100px;">add</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>