<div class="grid-container" [style.margin-top.px]="( isExtraSmallScreen$ | async ) ? 100 : 60">
  <mat-grid-list style="width:100%;" [cols]="(isSmallScreen$ | async) ? 1 : 2" cols="2" [rowHeight]="( isExtraSmallScreen$ | async ) ? '1:1' : '4:3'">
    
    <ng-container *ngFor="let device of devices" [style.background-color]="'blue'">
      <mat-grid-tile>
        <div style="width:95%; height:90%; padding: 0px 0px 16px 0px;margin: 0px 0px 0px 0px">
          <device-card 
            [device]="device">
          </device-card>
        </div>
      </mat-grid-tile>
    </ng-container>

    <!-- <button mat-raised-button color='warn' (click)='popCard()'>
      Pop card
    </button> -->

    <!-- <mat-grid-tile>
      <mat-card class="dashboard-card" [ngStyle]="{'max-width': (isSmallScreen$ | async) ? '550px' : '500px'}">
        <mat-card-header>
            <mat-card-title> 
              Add device 
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <button 
            mat-icon-button
            aria-label="Add category"
            style="margin-top:50px;width:100px; height: 100px;line-height: 100px;"
          >
            <mat-icon style="margin-left:-75px;font-size:100px;">add</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> -->
  </mat-grid-list>
</div>