<div class="grid-container" style="width:auto">
  <mat-grid-list [cols]="(isSmallScreen$ | async) ? 1 : 2" [rowHeight]="(isSmallScreen$ | async) ? '450px' : '400px'">
    
    <mat-grid-tile *ngFor="let card of cards" colspan="1" rowspan="1">
      <device-card class="dashboard-card" 
      [ngStyle]="{'max-width': (isSmallScreen$ | async) ? '550px' : '500px'}"
      >
      </device-card>
    </mat-grid-tile>

    <!-- <mat-grid-tile>
      <mat-card class="dashboard-card" [ngStyle]="{'max-width': (isSmallScreen$ | async) ? '550px' : '500px'}">
        <mat-card-header>
            <mat-card-title> 
              Add device 
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <button 
            mat-icon-button
            aria-label="Add category"
            style="margin-top:50px;width:100px; height: 100px;line-height: 100px;"
          >
            <mat-icon style="margin-left:-75px;font-size:100px;">add</mat-icon>
          </button>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile> -->

  </mat-grid-list>
</div>