<div class="container align-items-start flex-column">
  <div class="row">
    <div class="col-3 my-auto" style="text-align:left">
      <span><b>Now Playing:</b></span>
    </div>
    <div class="col my-auto" style="text-align: right;font-weight: 500">
      <span>AC Slater - Bass Inside (asd asd asd asd asd asd long)</span>
    </div>
  </div>
  <div class="row" style="padding-top:16px">
    <div class="col-1 my-auto">
      <span>Mute</span>
    </div>
    <div class="col" style="text-align: right">
      <mat-slide-toggle (click)="toggleMute()" >{{ mute_toggle_label }}</mat-slide-toggle>
    </div>
  </div>
  <div class="row" style="padding-top: 8px">
    <div class="col-1 my-auto">
      <span>Volume</span>
    </div>
    <div class="col" style="text-align: right">
      <mat-slider
      thumbLabel 
      [displayWith]="formatLabel"
      tickInterval="0"
      min="0"
      max="100"></mat-slider>
    </div>
  </div>
    <div class="row flex-fill align-items-end justify-content-around">
          <ng-container *ngIf="(isExtraSmallScreen$ | async)">
            <div class="col">
              <button mat-mini-fab color="accent"><mat-icon>skip_previous</mat-icon></button>
            </div>
            <div class="col">
              <button mat-mini-fab color="accent"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <div class="col">
              <button mat-mini-fab color="accent"><mat-icon>skip_next</mat-icon></button>
            </div>
          </ng-container>
          <ng-container *ngIf="!(isExtraSmallScreen$ | async)">
            <div class="col">
              <button mat-fab color="accent"><mat-icon>skip_previous</mat-icon></button>
            </div>
            <div class="col">
              <button mat-fab color="accent"><mat-icon>play_arrow</mat-icon></button>
            </div>
            <div class="col">
              <button mat-fab color="accent"><mat-icon>skip_next</mat-icon></button>
            </div>
          </ng-container>
    </div>
</div>