.mat-slider {
    width:100%;
}

.mat-list-item {
    height:25%;
}

.button {
    margin-left: 16px;
}

.mat-icon {
    font-size:2em; 
    color: white;
    margin-top:-6px;
    margin-left:-3px;
    /* margin-left:auto; */
    margin-right:auto;
}