.mat-slider {
    width: 80%;
}

.button {
    margin-left:8px;
    margin-right:8px;
}

.mat-icon {
    font-size:2em; 
    color: white;
    margin-top:-6px;
    margin-left:-3px;
    /* margin-left:auto; */
    margin-right:auto;
}

.row:last-child {
    background-color:white;
    position: absolute;
    bottom: 16px;
    width:96%;
    min-width:210px;
}