<mat-card class="devices container-fluid" style="min-height:200px;padding: 0px 0px 0px 0px;margin: 0px 0px 0px 0px;">
  <mat-card-content >
      <mat-chip-list  class='chips-filters'>
        <mat-chip *ngIf="!hide_chips" style="background-color: #1E88E5" (click)="addFilter()">
          <mat-icon style="color:white">add</mat-icon>
        </mat-chip>
        <mat-chip class='custom-chip' [selectable]="'true'" *ngFor="let filter of active_filters" [style.background-color]="getColorForType(filter)" 
          (click)="removeFilter(filter)">
          {{ filter }} <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <mat-chip *ngIf="active_filters.length > 0" style="background-color: rgba(220, 220, 220, 0.3)" (click)="removeAllFilters()">
          Clear All 
        </mat-chip>
      </mat-chip-list>

      <mat-tab-group 
        [selectedIndex]="selected.value" 
        (selectedTabChange)="tabChanged($event)"
        style="margin-left:5px">
        <ng-container *ngIf="categories.length < 1">
          <mat-tab label="All">
            <!-- Placeholder tab -->
          </mat-tab>
        </ng-container>

        <mat-tab *ngFor="let category of categories" label={{category.name}}>
          <ng-template matTabContent>
            <app-dashboard [category]="category"></app-dashboard>
          </ng-template>
        </mat-tab>

        <!-- <mat-tab label="Add" style='width:20px' isAttached='false'>
          <ng-template mat-tab-label >
            <mat-icon>add</mat-icon>
          </ng-template>
        </mat-tab> -->

      </mat-tab-group>
    </mat-card-content>
</mat-card>
